<div data-role="content">
    <h2>Sign In</h2>
    <form>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" value="" placeholder="Username"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" value="" placeholder="Password"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="app-name">Application:</label>
            <input type="text" name="app-name" id="application" value="{kido-application}" placeholder="Application"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="marketplace">Marketplace:</label>
            <input type="text" name="marketplace" id="marketplace" value="{kido-marketplace}" placeholder="Marketplace"/>
        </div>
        <a href="#" data-role="button" data-inline="true" data-icon="check" data-theme="b" id="sign-in">Sign In</a>
    </form>
</div>